name: finray
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - pip
  - pip:
    - numpy
    - matplotlib
    - jupyter
    - tqdm
    - scikit-learn
    - pandas
    - tensorboard